Repository italia/designers.italia.it, pull requests merged in 2023-03, with the labels that each got.

#660 feat: next news corso Formez
  src/data/content/community.yaml
  src/data/content/community/notizie/20230307-formez-lancia-un-corso-per-progettare-e-realizzare-servizi-pubblici-di-qualita.yaml
  src/data/content/index.yaml
  static/images/community/20230307-formez-lancia-un-corso-per-progettare-e-realizzare-servizi-pubblici-di-qualita-1400x723.jpg
  static/images/home/in-evidenza/20230307-formez-lancia-un-corso-per-progettare-e-realizzare-servizi-pubblici-di-qualita-1920x923.jpg
Labels: content, next

#661 feat: next inserimento contenuti azioni 5-10 del requisito 4.3
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-10.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-5.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-6.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-7.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-8.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-9.yaml
Labels: content, next

#659 fix: typo su Next
  src/data/content/design-system.yaml
Labels: content, next

#663 feat: next new standard and actions pages 4.1-4.2-4.4
  src/data/content/norme-e-riferimenti/linee-guida-di-design.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-1.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-1/azione-1.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-2.yaml
Labels: content, next

#684 feat: next design system survey new
  src/data/content/community.yaml
  src/data/content/community/notizie/20230314-nome-in-codice-italia.yaml
  src/data/content/index.yaml
  static/images/community/20230314-nome-in-codice-italia-hero.jpg
  static/images/home/in-evidenza/20230314-nome-in-codice-italia-home.jpg
Labels: content, next

#662 feat: search
  gatsby-config.js
  src/components/search-main/search-main.js
  src/components/search-main/search-main.scss
  src/data/content/design-system/come-iniziare.yaml
  src/data/content/design-system/come-iniziare/per-designer.yaml
  src/data/content/design-system/componenti.yaml
  src/data/content/design-system/componenti/accordion.yaml
  src/data/content/design-system/componenti/buttons.yaml
  src/data/content/design-system/componenti/dropdown.yaml
  src/data/content/design-system/fondamenti.yaml
  src/data/content/design-system/fondamenti/accessibilita.yaml
  src/data/content/design-system/fondamenti/linguaggio.yaml
  src/data/content/design-system/fondamenti/principi-e-intenzioni.yaml
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/content/index.yaml
  src/data/content/ricerca.yaml
  src/data/header.yaml
  src/pages/{content.relativePath}.js
  src/templates/search-results.js
Labels: feature, next

#676 feat: content standard-actions-4-5
  src/data/content/norme-e-riferimenti/linee-guida-di-design.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-5.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-5/azione-1.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-5/azione-2.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-5/azione-3.yaml
Labels: content, next

#688 feat: content standards-4.6-4.7-4.8
  src/data/content/norme-e-riferimenti/linee-guida-di-design.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-6.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-7.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-8.yaml
Labels: content, next

#692 fix/seo-descriptions-standards-4.1-4.2-4.3
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-1.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-2.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3.yaml
Labels: content

#694 Feat: next redirects
  src/data/content/community.yaml
  src/data/content/community/piano-attivita.yaml
  src/data/content/modelli/comuni.yaml
  src/data/content/modelli/scuole.yaml
  src/data/content/norme-e-riferimenti.yaml
  src/data/content/norme-e-riferimenti/manuale-operativo-di-design.yaml
  src/data/content/risorse-per-progettare/comprendere/analisi-del-contesto.yaml
  src/data/content/risorse-per-progettare/comprendere/esperienza-utente.yaml
  src/data/content/risorse-per-progettare/comprendere/interviste-soggetti-coinvolti.yaml
  src/data/content/risorse-per-progettare/progettare/architettura-dell-informazione.yaml
  src/data/content/risorse-per-progettare/progettare/co-progettazione.yaml
  src/data/content/risorse-per-progettare/progettare/contenuti-e-linguaggio.yaml
  src/data/content/risorse-per-progettare/progettare/prototipazione.yaml
  src/data/content/risorse-per-progettare/realizzare/costruzione-interfaccia.yaml
  src/data/content/risorse-per-progettare/realizzare/sviluppo-interfaccia.yaml
  src/data/content/risorse-per-progettare/validare/test-di-usabilita.yaml
  src/data/content/risorse-per-progettare/validare/web-analytics.yaml
Labels: feature

#701 Feat: next: update header
  src/data/header.yaml
Labels: content

#702 Header update
  src/data/header.yaml
Labels: content, next

#711 fix: duplicated redirs
  src/data/content/risorse-per-progettare/comprendere/esperienza-utente.yaml
  src/data/content/risorse-per-progettare/comprendere/questionario-online.yaml
  src/data/content/risorse-per-progettare/progettare/co-progettazione.yaml
Labels: bug, next

#715 Feat/Formez course news
  _posts/2023-03-28-aperte-le-iscrizioni-della-seconda-edizione-del-corso-qualita-dei-servizi-digitali.md
Labels: content

#712 Feat: Next: Formez course news
  src/data/content/community.yaml
  src/data/content/community/notizie/20230307-formez-lancia-un-corso-per-progettare-e-realizzare-servizi-pubblici-di-qualita.yaml
  src/data/content/community/notizie/20230328-aperte-le-iscrizioni-della-seconda-edizione-del-corso-qualita-dei-servizi-digitali.yaml
  src/data/content/index.yaml
  static/images/community/20230328-aperte-le-iscrizioni-della-seconda-edizione-del-corso-qualita-dei-servizi-digitali-1400x723.png
  static/images/community/20230328-aperte-le-iscrizioni-della-seconda-edizione-del-corso-qualita-dei-servizi-digitali-1920x923.png
  static/images/home/in-evidenza/20230328-aperte-le-iscrizioni-della-seconda-edizione-del-corso-qualita-dei-servizi-digitali-1920x923.png
Labels: content, next

#719 fix: next: Change thumbnail of the survey news
  src/data/content/community.yaml
  src/data/content/community/notizie/20230327-raccontaci-cosa-ne-pensi-di-designers-italia-e-developers-italia.yaml
  static/images/community/20230327-raccontaci-cosa-pensi-di-designers-italia-e-developers-italia-1400x723.png
  static/images/community/20230327-raccontaci-cosa-pensi-di-designers-italia-e-developers-italia-1920x923.png
  static/images/community/20230329-raccontaci-cosa-pensi-di-designers-italia-e-developers-italia-1400x723.png
  static/images/community/20230329-raccontaci-cosa-pensi-di-designers-italia-e-developers-italia-1920x923.png
  static/images/home/in-evidenza/20230327-raccontaci-cosa-pensi-di-designers-italia-e-developers-italia-1920x1280.png
Labels: content, next

#722 fix: next: wrong markup
  src/data/content/community/notizie/20230328-aperte-le-iscrizioni-della-seconda-edizione-del-corso-qualita-dei-servizi-digitali.yaml
Labels: content, next

#727 fix: lg design internal link
  src/data/content/community/notizie/20230307-formez-lancia-un-corso-per-progettare-e-realizzare-servizi-pubblici-di-qualita.yaml
  src/data/content/modelli.yaml
Labels: content, next
