Repository italia/designers.italia.it, pull requests merged in 2023-11, with the labels that each got.

#1048 content: update design system latest news
  src/data/content/design-system.yaml
Labels: content

#1049 content: update formazione-e-disseminazione
  src/data/content/progetto/formazione-e-disseminazione.yaml
Labels: content

#1052 fix: share alignments
  src/components/dropdown/dropdown.scss
  src/components/hero/hero.scss
Labels: bug

#1054 fix: ds img-full margins
  src/components/img-full/img-full.scss
Labels: enhancement, design system

#1056 content: minor fixes
  src/data/content/community/contatti.yaml
  src/data/content/community/piano-attivita.yaml
  src/data/content/design-system/fondamenti/design-tokens.yaml
  src/data/content/index.yaml
  src/data/content/modelli/comuni.yaml
  src/data/content/modelli/comuni/adotta-il-modello-di-sito-comunale/realizza-l-interfaccia-del-sito-comunale.yaml
  src/data/content/modelli/scuole.yaml
  src/data/content/modelli/scuole/adotta-il-modello-di-sito-scolastico/realizza-l-interfaccia-del-sito-scolastico.yaml
  src/data/content/risorse-per-progettare/realizzare/costruzione-interfaccia/realizza-un-prototipo-in-alta-fedelta.yaml
  src/data/content/risorse-per-progettare/realizzare/sviluppo-interfaccia/sviluppa-l-interfaccia-di-un-servizio-digitale.yaml
Labels: enhancement, content

#1015 fix(refactor): component viewer UI
  src/components/component-view/component-view.js
  src/components/component-view/component-view.scss
  src/data/component-viewer.yaml
  src/data/content/design-system/fondamenti/tipografia.yaml
  src/data/content/index.yaml
Labels: enhancement, a11y, design system

#1060 Content: new Medium article
  src/data/content/community.yaml
  src/data/content/index.yaml
  src/data/content/norme-e-riferimenti.yaml
  static/images/community/articoli-di-approfondimento/20220128-accessibili-usabili-e-inclusivi-per-una-progettazione-etica-dei-servizi-digitali.webp
  static/images/community/articoli-di-approfondimento/20220705-progettare-con-qualita-l-accessibilita-al-centro-del-design-system-del-paese.webp
  static/images/community/articoli-di-approfondimento/20231108-scrivere-semplice-per-la-pa-qualita-nella-comunicazione-e-diritti-delle-persone-1198x673.png
  static/images/community/eventi/2023/20231115-il-design-system-del-paese-per-realizzare-siti-e-servizi-dei-comuni-1200x627.png
Labels: content

#1063 fix: Medium cards thumbnails
  src/data/content/community.yaml
  src/data/content/norme-e-riferimenti.yaml
Labels: bug, content

#1062 content: switch info to help icon for hero/pretext
  src/data/content/community.yaml
  src/data/content/community/notizie/20221020-benvenuto-kit-privacy.yaml
  src/data/content/community/piano-attivita.yaml
  src/data/content/community/piano-attivita/archivio-storico.yaml
  src/data/content/design-system.yaml
  src/data/content/design-system/come-contribuire.yaml
  src/data/content/design-system/come-contribuire/modello-di-contribuzione.yaml
  src/data/content/design-system/come-contribuire/per-il-design.yaml
  src/data/content/design-system/come-contribuire/per-la-documentazione.yaml
  src/data/content/design-system/come-contribuire/per-lo-sviluppo.yaml
  src/data/content/design-system/come-iniziare.yaml
  src/data/content/design-system/come-iniziare/per-designer.yaml
  src/data/content/design-system/come-iniziare/per-responsabili-progetto.yaml
  src/data/content/design-system/come-iniziare/per-sviluppatori.yaml
  src/data/content/design-system/componenti.yaml
  src/data/content/design-system/fondamenti.yaml
  src/data/content/modelli.yaml
  src/data/content/modelli/comuni.yaml
  src/data/content/modelli/comuni/adotta-il-modello-di-servizi-digitali-comunali.yaml
  src/data/content/modelli/comuni/adotta-il-modello-di-sito-comunale.yaml
  src/data/content/modelli/scuole.yaml
  src/data/content/modelli/scuole/adotta-il-modello-di-sito-scolastico.yaml
  src/data/content/norme-e-riferimenti.yaml
  src/data/content/norme-e-riferimenti/linee-guida-accessibilita.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design.yaml
  src/data/content/norme-e-riferimenti/manuale-operativo-di-design.yaml
  src/data/content/progetto.yaml
  src/data/content/progetto/formazione-e-disseminazione.yaml
  src/data/content/progetto/storia.yaml
  src/data/content/progetto/visione-e-missione.yaml
  src/data/content/risorse-per-progettare.yaml
  src/data/content/risorse-per-progettare/comprendere.yaml
  src/data/content/risorse-per-progettare/comprendere/analisi-del-contesto.yaml
  src/data/content/risorse-per-progettare/comprendere/esperienza-utente.yaml
  src/data/content/risorse-per-progettare/comprendere/interviste-soggetti-coinvolti.yaml
  src/data/content/risorse-per-progettare/comprendere/questionario-online.yaml
  src/data/content/risorse-per-progettare/organizzare.yaml
  src/data/content/risorse-per-progettare/organizzare/privacy.yaml
  src/data/content/risorse-per-progettare/progettare.yaml
  src/data/content/risorse-per-progettare/progettare/architettura-dell-informazione.yaml
  src/data/content/risorse-per-progettare/progettare/co-progettazione.yaml
  src/data/content/risorse-per-progettare/progettare/contenuti-e-linguaggio.yaml
  src/data/content/risorse-per-progettare/progettare/prototipazione.yaml
  src/data/content/risorse-per-progettare/progettare/seo.yaml
  src/data/content/risorse-per-progettare/realizzare.yaml
  src/data/content/risorse-per-progettare/realizzare/costruzione-interfaccia.yaml
  src/data/content/risorse-per-progettare/realizzare/sviluppo-interfaccia.yaml
  src/data/content/risorse-per-progettare/validare.yaml
  src/data/content/risorse-per-progettare/validare/test-di-usabilita.yaml
  src/data/content/risorse-per-progettare/validare/web-analytics.yaml
Labels: enhancement, content

#1059 fix: aligned the token badge style
  src/data/content/design-system/fondamenti/tipografia.yaml
Labels: enhancement, content, design system

#1068 content: new webinar serie image thumbnail
  src/data/content/community.yaml
  static/images/community/eventi/2023/20231115-il-design-system-del-paese-per-realizzare-siti-e-servizi-dei-comuni-1200x627-1.png
Labels: enhancement, media

#1067 fix: padding lg vs xl for design system hero
  src/components/hero/hero.js
Labels: enhancement, design system

#1058 content: added spacing foundation
  src/data/content/community/notizie/20230901-modelli-di-siti-e-servizi-di-designers-italia-nuovi-file-in-formato-aperto.yaml
  src/data/content/community/notizie/20230925-prendi-parte-anche-tu-all-evoluzione-del-design-system-del-paese.yaml
  src/data/content/community/notizie/20230927-partono-i-lavori-per-il-modello-di-sito-web-per-i-musei-civici.yaml
  src/data/content/community/notizie/20231017-aziende-sanitarie-locali-un-nuovo-modello-per-migliorare-il-sito-web.yaml
  src/data/content/community/notizie/20231024-nuovi-rilasci-del-design-system-del-paese-e-delle-risorse-di-progettazione-e-sviluppo.yaml
  src/data/content/community/notizie/20231031-disponibile-il-player-video-della-pubblica-amministrazione-attento-a-privacy-e-accessibilita.yaml
  src/data/content/community/notizie/20231107-esperienza-del-cittadino-nei-servizi-pubblici-dalla-misura-alla-pratica.yaml
  src/data/content/design-system/come-contribuire.yaml
  src/data/content/design-system/come-contribuire/modello-di-contribuzione.yaml
  src/data/content/design-system/come-contribuire/per-il-design.yaml
  src/data/content/design-system/come-contribuire/per-la-documentazione.yaml
  src/data/content/design-system/come-contribuire/per-lo-sviluppo.yaml
  src/data/content/design-system/fondamenti/griglia.yaml
  src/data/content/design-system/fondamenti/spaziature.yaml
  src/data/content/design-system/fondamenti/technical-template.yaml
  src/data/content/design-system/fondamenti/tipografia.yaml
  src/data/dsnav.yaml
  static/images/design-system/fondamenti/spacing-inline-l.png
  static/images/design-system/fondamenti/spacing-inline-m.png
  static/images/design-system/fondamenti/spacing-inline-s.png
  static/images/design-system/fondamenti/spacing-inline-xs.png
  static/images/design-system/fondamenti/spacing-inline-xxs.png
  static/images/design-system/fondamenti/spacing-inset-l.png
  static/images/design-system/fondamenti/spacing-inset-m.png
  static/images/design-system/fondamenti/spacing-inset-s.png
  static/images/design-system/fondamenti/spacing-inset-xl.png
  static/images/design-system/fondamenti/spacing-inset-xxl.png
  static/images/design-system/fondamenti/spacing-l.png
  static/images/design-system/fondamenti/spacing-m.png
  static/images/design-system/fondamenti/spacing-s.png
  static/images/design-system/fondamenti/spacing-stack-l.png
  static/images/design-system/fondamenti/spacing-stack-m.png
  static/images/design-system/fondamenti/spacing-stack-s.png
  static/images/design-system/fondamenti/spacing-stack-xl.png
  static/images/design-system/fondamenti/spacing-stack-xs.png
  static/images/design-system/fondamenti/spacing-stack-xxl.png
  static/images/design-system/fondamenti/spacing-xl.png
  static/images/design-system/fondamenti/spacing-xs.png
  static/images/design-system/fondamenti/spacing-xxl.png
  static/images/design-system/fondamenti/spacing-xxs.png
Labels: content, design system

#1051 content: added shadow foundation
  src/data/content/design-system/fondamenti/ombre.yaml
  src/data/dsnav.yaml
Labels: content, design system

#1065 chore(release): design system v1.alpha-13
  src/components/img-full/img-full.scss
  src/data/content/design-system/fondamenti.yaml
  src/data/content/design-system/fondamenti/colori.yaml
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: design system

#1057 content: refactor proposal action Realizzare modello Comuni
  src/data/content/modelli/comuni/adotta-il-modello-di-sito-comunale/realizza-l-interfaccia-del-sito-comunale.yaml
Labels: enhancement, content

#1070 content: fix link
  src/data/content/design-system/fondamenti/versionamento.yaml
Labels: bug, content

#1075 content: add thumbnail image to comuni/servizi
  src/data/content/modelli/comuni.yaml
  src/data/content/modelli/comuni/adotta-il-modello-di-servizi-digitali-comunali.yaml
  static/images/modelli/comuni-servizi.png
Labels: content, media

#920 content: new pages modelli
  src/data/content/modelli.yaml
  src/data/content/modelli/aziende-sanitarie-locali.yaml
  src/data/content/modelli/musei-civici.yaml
  src/data/header.yaml
  src/pages/{content.relativePath}.js
  static/images/modelli/asl-hero.png
  static/images/modelli/asl-test-usabilita.jpg
  static/images/modelli/musei-hero.png
  static/images/modelli/musei-progettazione.jpg
Labels: content

#1078 content: all caps acronyms
  src/components/header-slim/header-slim.js
  src/data/content/community/notizie/20210507-come-progettare-e-realizzare-il-sito-web-di-un-comune.yaml
  src/data/content/community/notizie/20210601-progettare-sviluppare-ed-erogare-servizi-pubblici-digitali.yaml
  src/data/content/community/notizie/20210617-conclusa-la-fase-di-consultazione-delle-linee-guida-di-design.yaml
  src/data/content/community/notizie/20211027-progettare-sito-comune-2corso-formez.yaml
  src/data/content/community/notizie/20220214-community-lab-strumenti-servizi-digitali.yaml
  src/data/content/community/notizie/20220329-accessibilita-migliorata-con-bootstrap-italia.yaml
  src/data/content/community/notizie/20220530-progettare-api-interoperabili-conformi-linee-guida-agid.yaml
  src/data/content/community/notizie/20231017-aziende-sanitarie-locali-un-nuovo-modello-per-migliorare-il-sito-web.yaml
  src/data/content/design-system/come-iniziare/per-responsabili-progetto.yaml
  src/data/content/modelli/comuni/adotta-il-modello-di-sito-comunale/realizza-l-interfaccia-del-sito-comunale.yaml
  src/data/content/norme-e-riferimenti/linee-guida-accessibilita.yaml
Labels: content

#1076 content: update piano attivita Q4 2023
  src/data/content/community/piano-attivita.yaml
Labels: content

#1079 content: add asl acronym in title/menu
  src/data/content/modelli.yaml
  src/data/content/modelli/aziende-sanitarie-locali.yaml
  src/data/header.yaml
Labels: content

#1074 Content: ANCI webinar 2
  src/data/content/community.yaml
  src/data/content/community/eventi/20231128-realizzare-interfacce-pubbliche-di-qualita-e-piu-accessibili-grazie-al-design-system-del-paese.yaml
  static/images/community/eventi/2023/20231115-il-design-system-del-paese-per-realizzare-siti-e-servizi-dei-comuni-1200x627-1.png
  static/images/community/eventi/2023/20231115-il-design-system-del-paese-per-realizzare-siti-e-servizi-dei-comuni-1200x627.png
  static/images/community/eventi/2023/20231128-realizzare-interfacce-pubbliche-di-qualita-e-piu-accessibili-grazie-al-design-system-del-paese-1200x627.png
Labels: content

#1082 fix: open graph image urls need absolute urls...
  src/data/content/community/eventi/20231128-realizzare-interfacce-pubbliche-di-qualita-e-piu-accessibili-grazie-al-design-system-del-paese.yaml
  src/data/content/community/notizie/20230711-come-e-cambiata-la-community-di-designers-italia-e-developers-italia.yaml
  src/data/content/risorse-per-progettare.yaml
Labels: bug

#1077 fix: refactor all stacking issues (z-index)
  src/components/back-to-top/back-to-top.js
  src/components/feedback/feedback.scss
  src/components/header-menu-link/header-menu-link.scss
  src/components/highlight/highlight.scss
  src/components/nav-sidebar/nav-sidebar.js
  src/components/nav-sidebar/nav-sidebar.scss
  src/components/tooltip/tooltip.js
  src/scss/bootstrap-italia-TEMP-FIXES-REMOVEME.scss
  src/templates/design-system-index.js
Labels: bug, enhancement

#1097 Content add subtitles media servizi inclusivi
  src/data/content/community/media/20230325-servizi-inclusivi-e-usabili-per-tutti.yaml
  static/files/community/subtitles/20230325-servizi-inclusivi-e-usabili-per-tutti.vtt
Labels: content

#922 fix: workaround wrong position of anchor links with sticky header
  src/scss/custom.scss
Labels: bug

#1088 content: added border and radius page
  src/data/content/design-system/fondamenti.yaml
  src/data/content/design-system/fondamenti/bordi-e-raggi.yaml
  src/data/dsnav.yaml
  static/images/design-system/fondamenti/border-base.png
  static/images/design-system/fondamenti/border-broad.png
  static/images/design-system/fondamenti/border-double.png
  static/images/design-system/fondamenti/border-thick.png
  static/images/design-system/fondamenti/radius-circle.png
  static/images/design-system/fondamenti/radius-pill.png
  static/images/design-system/fondamenti/radius-smooth.png
Labels: content, design system

#1091 chore(release): preparing DS release v1-alpha.14
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: content, design system

#1101 fix: chips margins
  src/components/chip/chip.scss
  src/scss/vars.scss
Labels: enhancement

#1095 content: fix typos
  src/data/content/community/media/20230324-comprendere-il-contesto-d-uso.yaml
  src/data/content/community/notizie/20210517-settimana-amministrazione-aperta.yaml
  src/data/content/community/notizie/20210617-conclusa-la-fase-di-consultazione-delle-linee-guida-di-design.yaml
  src/data/content/community/notizie/20220125-community-call-design-system.yaml
  src/data/content/community/notizie/20220325-community_call_design_sinergia_universita_pa.yaml
  src/data/content/community/notizie/20220520-sviluppo-open-source-migliorare-servizi-pubblici.yaml
  src/data/content/community/piano-attivita.yaml
  src/data/content/design-system/come-contribuire.yaml
  src/data/content/design-system/come-iniziare/per-responsabili-progetto.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-2.yaml
  src/data/content/progetto/storia.yaml
  src/data/content/risorse-per-progettare/organizzare/privacy.yaml
  src/data/content/risorse-per-progettare/realizzare.yaml
  static/files/community/subtitles/20230325-servizi-inclusivi-e-usabili-per-tutti.vtt
Labels: enhancement, content

#1103 content: fix video description
  src/data/content/community/media/20220309-come-l-unione-europea-valuta-i-servizi-pubblici-digitali.yaml
Labels: content
