Repository italia/designers.italia.it, pull requests merged in 2023-05, with the labels that each got.

#758 feat: news UI Kit Italia v3
  _posts/2023-05-04-Design-system-pubblicata-la-versione-ufficiale-dello-UI-Kit-Italia.md
Labels: content

#746 feat/fondamento-tov
  src/data/content/design-system/fondamenti/microtesti.yaml
  src/data/content/design-system/fondamenti/tono-di-voce.yaml
  src/data/dsnav.yaml
Labels: content, next

#760 feat: docs DS release alpha.4 | new UI Kit Italia
  src/data/content/design-system/come-iniziare/per-designer.yaml
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: content, next

#763 feat: new eventi may
  src/data/content/community.yaml
  src/data/content/community/eventi/20230506-wired-next-fest-trentino-2023-interfacce-di-bronzo.yaml
  src/data/content/community/eventi/20230516-forum-pa-2023-esperienza-utente-il-design-system-del-paese-e-i-test-di-usabilita.yaml
  src/data/content/community/eventi/20230516-forum-pa-2023-servizi-e-piattaforme-per-la-cittadinanza-digitale.yaml
  src/data/content/community/eventi/20230518-accessibility-days-2023-il-design-system-del-paese-e-la-responsabilita-di-progettare-interfacce-pubbliche.yaml
  src/data/content/community/eventi/20230519-accessibility-days-2023-l-accessibilita-nello-sviluppo-front-end-di-servizi-pubblici-le-risorse-del-design-system-del-paese.yaml
  src/data/content/community/notizie/20230506-tutti-gli-eventi-di-designers-italia-a-maggio.yaml
  src/data/content/index.yaml
  src/data/header.yaml
  static/images/community/20230503-gli-eventi-di-designers-italia-a-maggio-1198x673.png
  static/images/community/20230503-gli-eventi-di-designers-italia-a-maggio-1400x673.png
  static/images/community/eventi/2023/20230506-wired-next-fest-trentino-2023-interfacce-di-bronzo-1200x627.png
  static/images/community/eventi/2023/20230516-forum-pa-2023-esperienza-utente-il-design-system-del-paese-e-i-test-di-usabilita-1200x627.png
  static/images/community/eventi/2023/20230516-forum-pa-2023-servizi-e-piattaforme-per-la-cittadinanza-digitale-1200x627.png
  static/images/community/eventi/2023/20230518-accessibility-days-2023-il-design-system-del-paese-e-la-responsabilita-di-progettare-interfacce-pubbliche-1200x627.png
  static/images/community/eventi/2023/20230519-accessibility-days-2023-l-accessibilita-nello-sviluppo-front-end-di-servizi-pubblici-le-risorse-del-design-system-del-paese-1200x627.png
  static/images/home/in-evidenza/20230503-gli-eventi-di-designers-italia-a-maggio-1920x923.png
Labels: content, next

#764 feat: new eventi may (old)
  _posts/2023-05-05-Tutti-gli-eventi-di-Designers-Italia-a-maggio.md
Labels: content

#765 fix: slim header behaviour
  src/components/header-slim/header-slim.js
  src/components/header-slim/header-slim.scss
  src/data/header.yaml
Labels: bug, next

#752 Fix: enhance "megamenu" and "hero dropdown-menu"
  src/components/dropdown-menu/dropdown-menu.js
  src/components/hero/hero.scss
  src/components/list-item/list-item.js
  src/components/list/list.js
  src/components/megamenu/megamenu.js
  src/components/megamenu/megamenu.scss
  src/data/header.yaml
Labels: enhancement, next, a11y

#766 feat: content updates (legal pages)
  src/data/content/note-legali.yaml
  src/data/content/privacy-policy.yaml
  src/data/footer.yaml
Labels: content, next

#762 feat: add custom 404 page
  src/components/image-responsive/image-responsive.js
  src/pages/404.js
  src/scss/404.scss
  static/images/404-logo.svg
Labels: enhancement, feature, next

#771 fix: header menu items Link component
  src/components/header-menu-link/header-menu-link.js
Labels: enhancement, next

#768 content: remove first hightlighted news
  src/data/content/index.yaml
Labels: content, next

#634 chore(ci): use GitHub actions for deploying
  .github/workflows/deploy.yml
  package-lock.json
  package.json
Labels: enhancement, feature, next

#720 feat: show the redirection banner in testing site
  src/components/header-pre/header-pre.js
  src/data/header.yaml
  src/templates/base.js
  src/templates/design-system-component.js
  src/templates/design-system-index.js
  src/templates/home.js
  src/templates/level-1-community.js
  src/templates/level-1.js
  src/templates/level-2.js
  src/templates/level-3.js
  src/templates/level-4.js
  src/templates/search-results.js
Labels: feature, next

#786 fix: switch prossima and vercel urls
  src/data/content/community/notizie/20220325-atlante-della-trasformazione-digitale.yaml
  src/data/content/community/notizie/20221220-ecco-l-anteprima-del-nuovo-designers-italia.yaml
  src/data/content/community/notizie/20230504-design-system-pubblicata-la-versione-ufficiale-dello-ui-kit-italia.yaml
  src/data/content/community/notizie/20230506-tutti-gli-eventi-di-designers-italia-a-maggio.yaml
  src/data/content/index.yaml
  src/data/content/ricerca.yaml
Labels: bug, content

#780 fix: overflow hidden on 404 page
  src/pages/404.js
Labels: bug, enhancement

#788 content: clean norme e riferimenti + minor typo
  src/data/content/community/notizie/20230328-aperte-le-iscrizioni-della-seconda-edizione-del-corso-qualita-dei-servizi-digitali.yaml
  src/data/content/norme-e-riferimenti.yaml
Labels: enhancement, content

#790 refactor: use window global instead of location
  src/components/header-pre/header-pre.js
Labels: enhancement

#791 fix: noreferrer external links if _blank target
  src/components/button/button.js
  src/components/card/card.js
  src/components/footer-brand/footer-brand.js
  src/components/footer-main/footer-main.js
  src/components/footer-small/footer-small.js
  src/components/header-center/header-center.js
  src/components/header-post/header-post.js
  src/components/header-slim/header-slim.js
  src/components/last-update/last-update.js
  src/components/link-custom/link-custom.js
  src/components/list-item/list-item.js
  src/components/nav-position/nav-position.js
  src/components/simple-cta/simple-cta.js
Labels: bug

#793 content: new page Come iniziare > Per responsabili progetto
  src/data/content/design-system/come-iniziare.yaml
  src/data/content/design-system/come-iniziare/per-designer.yaml
  src/data/content/design-system/come-iniziare/per-responsabili-progetto.yaml
  src/data/content/design-system/come-iniziare/per-sviluppatori.yaml
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: content, design system

#799 fix: typo versionamento.yaml
  src/data/content/design-system/fondamenti/versionamento.yaml
Labels: bug, content

#798 content: publish launch site news
  src/data/content/community.yaml
  src/data/content/community/notizie/20230515-designers-italia-si-rinnova.yaml
  src/data/content/index.yaml
  static/images/community/20230515-designer-italia-nuovo-sito-2023.png
Labels: content

#802 feat: new image
  src/data/content/community.yaml
  src/data/content/community/notizie/20230515-designers-italia-si-rinnova.yaml
  src/data/content/index.yaml
  static/images/home/designers-italia-desktop.png
  static/images/home/designers-italia-responsive.jpg
  static/images/home/designers.jpg
  static/images/home/home.jpg
Labels: content

#804 Fix: Accessibility Days event details
  src/data/content/community/eventi/20230519-accessibility-days-2023-l-accessibilita-nello-sviluppo-front-end-di-servizi-pubblici-le-risorse-del-design-system-del-paese.yaml
Labels: content

#807 chore: fix the last updated date in pages
  .github/workflows/deploy.yml
Labels: bug

#809 Feat/News "Fondamenti linguaggio"
  src/data/content/community.yaml
  src/data/content/community/notizie/20230530-design-system-pubblicati-i-fondamenti-di-scrittura-per-l-esperienza-utente.yaml
  src/data/content/index.yaml
  static/images/community/20230530-design-system-pubblicati-i-fondamenti-di-scrittura-per-l-esperienza-utente-1198x673.png
  static/images/community/20230530-design-system-pubblicati-i-fondamenti-di-scrittura-per-l-esperienza-utente-1400x673.png
  static/images/community/20230530-design-system-pubblicati-i-fondamenti-di-scrittura-per-l-esperienza-utente-1920x923.png
Labels: content

#810 Fix/News "Fondamenti di linguaggio"
  src/data/content/community/notizie/20230530-design-system-pubblicati-i-fondamenti-di-scrittura-per-l-esperienza-utente.yaml
Labels: content
