Repository italia/designers.italia.it, pull requests merged in 2023-12, with the labels that each got.

#1111 content: remove placeholder page
  src/data/content/design-system/fondamenti/technical-template.yaml
Labels: enhancement, content, design system

#1113 content: update transcription servizi inclusivi
  src/data/content/community/media/20230325-servizi-inclusivi-e-usabili-per-tutti.yaml
  static/files/community/subtitles/20230325-servizi-inclusivi-e-usabili-per-tutti.odt
  static/files/community/subtitles/20230325-servizi-inclusivi-e-usabili-per-tutti.vtt
Labels: content, a11y

#1117 Content: Formez PA course Medium article
  src/data/content/community.yaml
  src/data/content/index.yaml
  static/images/community/articoli-di-approfondimento/20231207-quando-il-design-incontra-la-formazione-1198x673.png
Labels: content

#1115 content: update per-responsabili-progetto.yaml
  src/data/content/design-system/come-iniziare/per-responsabili-progetto.yaml
Labels: content

#1124 fix: icons ppt (kits)
  src/data/content/risorse-per-progettare/comprendere/analisi-del-contesto/schematizza-il-contesto-d-uso.yaml
  src/data/content/risorse-per-progettare/comprendere/esperienza-utente/definisci-le-personas.yaml
  src/data/content/risorse-per-progettare/comprendere/interviste-soggetti-coinvolti/rielabora-le-informazioni.yaml
  src/data/content/risorse-per-progettare/comprendere/questionario-online/sintetizza-i-risultati-della-ricerca.yaml
  src/data/content/risorse-per-progettare/progettare/architettura-dell-informazione/organizza-i-contenuti.yaml
  src/data/content/risorse-per-progettare/progettare/co-progettazione/co-progetta-i-contenuti.yaml
  src/data/content/risorse-per-progettare/progettare/co-progettazione/co-progetta-l-esperienza-d-uso.yaml
  src/data/content/risorse-per-progettare/progettare/contenuti-e-linguaggio/crea-il-linguaggio-del-touchpoint-digitale.yaml
  src/data/content/risorse-per-progettare/progettare/prototipazione/definisci-i-flussi-di-interazione.yaml
  src/data/content/risorse-per-progettare/validare/test-di-usabilita/rielabora-e-condividi-i-risultati-dei-test-di-usabilita.yaml
Labels: enhancement, content

#1125 feat: enable linked media cards in LLGG
  src/components/card/card.js
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-1/azione-1.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-1.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-2.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-3.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-4.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-5.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-6.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-7.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-8.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-3/azione-9.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-5/azione-1.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-5/azione-2.yaml
  src/data/content/norme-e-riferimenti/linee-guida-di-design/requisito-4-5/azione-3.yaml
  src/pages/{content.relativePath}.js
Labels: enhancement, feature, content

#1121 content: add media anci webinar 1
  src/data/content/community/media/20231115-il-design-system-del-paese-per-realizzare-siti-e-servizi-dei-comuni.yaml
  static/files/community/subtitles/20231115-il-design-system-del-paese-per-realizzare-siti-e-servizi-dei-comuni.odt
  static/files/community/subtitles/20231115-il-design-system-del-paese-per-realizzare-siti-e-servizi-dei-comuni.vtt
  static/images/community/media-thumbnails/20231115-il-design-system-del-paese-per-realizzare-siti-e-servizi-dei-comuni.jpg
Labels: content, media

#1123 fix: community links SEO min spacing
  src/components/footer-main/footer-main.scss
Labels: enhancement

#1133 fix: community news tags + content media update
  src/data/content/community.yaml
Labels: enhancement, content

#1099 fix: changed grid container for XL breakpoint
  src/data/content/design-system/fondamenti/griglia.yaml
Labels: content, design system

#1136 feat: and fix badges inside tags
  src/components/list-archive-all-tags/list-archive-all-tags.js
  src/components/list-archive-ds-tags/list-archive-ds-tags.js
  src/scss/custom.scss
Labels: bug, feature, a11y

#1107 content: 930-fondamento-dimensioni-stesura-contenuti-e-review
  src/data/content/design-system/fondamenti.yaml
  src/data/content/design-system/fondamenti/dimensioni.yaml
  src/data/dsnav.yaml
  static/images/design-system/fondamenti/sizing-full.png
  static/images/design-system/fondamenti/sizing-half.png
  static/images/design-system/fondamenti/sizing-quarter.png
  static/images/design-system/fondamenti/sizing-two-thirds.png
Labels: content, design system

#1139 fix: colors hex
  src/data/content/design-system/fondamenti/colori.yaml
Labels: bug

#1134 fix: remove and enhance ds sidebar empty links
  src/components/nav-sidebar/nav-sidebar.js
  src/components/nav-sidebar/nav-sidebar.scss
  src/data/dsnav.yaml
Labels: bug, a11y

#1144 feat: enable standard Bootstrap Italia megamenu behaviour
  src/components/megamenu/megamenu.js
  src/components/megamenu/megamenu.scss
Labels: enhancement

#1132 content: enhance README
  README.md
Labels: enhancement

#1112 fix: fix lint warnings
  src/components/content-collapse/content-collapse.js
  src/components/footer-main/footer-main.js
  src/components/header-menu-link/header-menu-link.js
  src/components/header-menu-link/header-menu-link.scss
  src/components/list-item/list-item.js
  src/components/nav-sidebar/nav-sidebar.js
  src/components/search-main/search-main.js
  src/components/section-editorial/section-editorial.js
  src/components/section-intro/section-intro.js
  src/components/table/table.js
  src/components/text-image-cta/text-image-cta.js
  src/templates/home.js
Labels: enhancement, help wanted, a11y

#1120 content: 980-componente-tab-stesura-e-revisione-contenuti
  src/data/content/design-system/componenti.yaml
  src/data/content/design-system/componenti/tab.yaml
  src/data/content/design-system/componenti/tabs.yaml
  src/data/dsnav.yaml
  static/images/design-system/componenti/tabs-anatomy.png
  static/images/design-system/componenti/tabs-card-anatomy.png
  static/images/design-system/componenti/tabs-card-specs.png
  static/images/design-system/componenti/tabs-horizontal-anatomy.png
  static/images/design-system/componenti/tabs-horizontal-specs-1.png
  static/images/design-system/componenti/tabs-horizontal-specs.png
  static/images/design-system/componenti/tabs-horizontal-variants-anatomy.png
  static/images/design-system/componenti/tabs-vertical-anatomy.png
  static/images/design-system/componenti/tabs-vertical-specs.png
Labels: content, design system

#1105 chore(release): preparing DS release v1-alpha.15
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: content, design system

#1149 fix: footer logos images alt text
  src/components/footer-brand/footer-brand.js
Labels: bug, a11y

#1119 content: add 2023 recap news
  src/data/content/community.yaml
  src/data/content/community/notizie/20231219-il-2023-di-designers-italia.yaml
  src/data/content/index.yaml
  src/data/header.yaml
  src/pages/{content.relativePath}.js
  static/images/community/20231219-il-2023-di-designers-italia---design-system-releases-1920x923.png
  static/images/community/20231219-il-2023-di-designers-italia-1400x900.png
  static/images/community/20231219-il-2023-di-designers-italia-1920x1080.png
  static/images/home/in-evidenza/20231219-il-2023-di-designers-italia-1920x1080-home.png
  static/images/modelli/2023-modelli-asl-musei.jpg
Labels: content

#1150 content: enhance news 2023 recap layout
  src/data/content/community/notizie/20231219-il-2023-di-designers-italia.yaml
Labels: enhancement, content

#1152 fix: BSI 2.8.1 local styling
  src/components/content-collapse/content-collapse.js
  src/components/dropdown/dropdown.scss
Labels: bug

#1151 fix(a11y): enhance navigation and fix ds nav mobile focus
  src/components/nav-sidebar/nav-sidebar.js
  src/data/dsnav.yaml
  src/data/header.yaml
  src/data/skiplinks.yaml
Labels: bug, enhancement, a11y, design system

#1153 Content: ANCI webinar 4
  src/data/content/community.yaml
  src/data/content/community/eventi/20240111-migrazione-e-gestione-dei-contenuti-mappare-riorganizzare-e-mantenere-i-contenuti-secondo-l-architettura-del-nuovo-sito.yaml
  static/images/community/eventi/2024/20240111-migrazione-e-gestione-dei-contenuti-mappare-riorganizzare-e-mantenere-i-contenuti-secondo-l-architettura-del-nuovo-sito-1200x627.png
Labels: content
