Repository italia/designers.italia.it, pull requests merged in 2023-10, with the labels that each got.

#921 fix: section-editorial spacing just for design system section
  src/components/section-editorial/section-editorial.scss
Labels: bug

#882 content: fondamenti tipografia
  src/data/content/design-system/fondamenti/tipografia.yaml
  src/data/dsnav.yaml
Labels: content, design system

#999 Componente Breadcrumbs: stesura e revisione contenuti
  src/data/content/design-system/componenti/breadcrumbs.yaml
  static/images/design-system/componenti/breadcrumbs-anatomy.png
  static/images/design-system/componenti/breadcrumbs-specs.png
Labels: content, design system

#894 content: contenuti componente header
  src/components/img-full/img-full.js
  src/data/content/design-system/componenti/header.yaml
  src/pages/{content.relativePath}.js
  static/images/design-system/componenti/header-centrale-anatomy.png
  static/images/design-system/componenti/header-centrale-specs.png
  static/images/design-system/componenti/header-completo-anatomy.png
  static/images/design-system/componenti/header-nav-anatomy.png
  static/images/design-system/componenti/header-nav-specs.png
  static/images/design-system/componenti/header-slim-anatomy.png
  static/images/design-system/componenti/header-slim-specs.png
Labels: content, design system

#913 content: buttons design specs
  src/data/content/design-system/componenti/buttons.yaml
  static/images/design-system/componenti/buttons-anatomy.png
  static/images/design-system/componenti/buttons-large-specs.png
  static/images/design-system/componenti/buttons-mini-specs.png
  static/images/design-system/componenti/buttons-small-specs.png
Labels: content, design system

#1008 Content: DS release alpha.11
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: design system

#1013 fix: 1012 table style on fondamento griglia
  src/data/content/design-system/fondamenti/griglia.yaml
  src/data/content/design-system/fondamenti/tipografia.yaml
Labels: bug, content

#1006 content: "Modello asl" news
  src/data/content/community.yaml
  src/data/content/community/notizie/20230927-partono-i-lavori-per-il-modello-di-sito-web-per-i-musei-civici.yaml
  src/data/content/community/notizie/20231017-aziende-sanitarie-locali-un-nuovo-modello-per-migliorare-il-sito-web.yaml
  src/data/content/index.yaml
  src/data/content/progetto/formazione-e-disseminazione.yaml
  static/images/community/20231017-aziende-sanitarie-locali-un-nuovo-modello-per-migliorare-il-sito-web-1400x723.png
  static/images/community/20231017-aziende-sanitarie-locali-un-nuovo-modello-per-migliorare-il-sito-web-1920x1280.png
  static/images/community/20231017-aziende-sanitarie-locali-un-nuovo-modello-per-migliorare-il-sito-web-1920x923.png
Labels: content

#1000 Componente Chips: stesura e revisione contenuti
  src/data/content/design-system/componenti/chips.yaml
  static/images/design-system/componenti/chips-anatomy.png
  static/images/design-system/componenti/chips-specs.png
Labels: content, design system

#1004 Componente Footer: aggiunta scheda, stesura e revisione contenuti
  src/data/content/design-system/componenti.yaml
  src/data/content/design-system/componenti/footer.yaml
  src/data/dsnav.yaml
  static/images/design-system/componenti/footer-anatomy.png
  static/images/design-system/componenti/footer-specs-1.png
  static/images/design-system/componenti/footer-specs-2.png
Labels: feature, content, design system

#1002 Componente Skiplinks: stesura e revisione contenuti
  src/data/content/design-system/componenti/skiplinks.yaml
  static/images/design-system/componenti/skiplinks-anatomy.png
  static/images/design-system/componenti/skiplinks-specs.png
Labels: content, design system

#1014 feat: change Twitter name to X
  src/components/list/list.js
Labels: content

#1001 Componente Hero: stesura e review contenuti
  src/data/content/design-system/componenti/hero.yaml
Labels: content, design system

#1024 contatti: fix slack url on page Contatti
  src/data/content/community/contatti.yaml
Labels: bug, content

#1003 Componente Video player: stesura e revisione contenuti
  src/data/content/design-system/componenti/video-player.yaml
  static/images/design-system/componenti/videoplayer-anatomy.png
  static/images/design-system/componenti/videoplayer-consentoverlay-anatomy.png
  static/images/design-system/componenti/videoplayer-controlbar-anatomy.png
Labels: content, design system

#1025 Componente Hero: definizione immagini anatomia e specifiche di design
  src/data/content/design-system/componenti/hero.yaml
  static/images/design-system/componenti/hero-anatomy.jpg
  static/images/design-system/componenti/hero-anatomy.png
  static/images/design-system/componenti/hero-specs.png
Labels: content, design system, media

#1026 content: fix alt texts
  src/data/content/community/notizie/20220325-atlante-della-trasformazione-digitale.yaml
  src/data/content/design-system/componenti/footer.yaml
  src/data/content/design-system/componenti/header.yaml
  src/data/content/design-system/componenti/video-player.yaml
Labels: bug, content, a11y, design system

#1022 content: DS release alpha.12 design system
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: content, design system

#1028 Content: news about design system + UI kit Italia + Bootstrap Italia
  src/data/content/community.yaml
  src/data/content/community/notizie/20231024-nuovi-rilasci-del-design-system-del-paese-e-delle-risorse-di-progettazione-e-sviluppo.yaml
  src/data/content/design-system/componenti/video-player.yaml
  src/data/content/index.yaml
  src/data/content/progetto.yaml
  src/data/header.yaml
  static/images/community/20231024-nuovi-rilasci-del-design-system-del-paese-e-delle-risorse-di-progettazione-e-sviluppo-1400x723.png
  static/images/community/20231024-nuovi-rilasci-del-design-system-del-paese-e-delle-risorse-di-progettazione-e-sviluppo-1920x1280.png
  static/images/community/20231024-nuovi-rilasci-del-design-system-del-paese-e-delle-risorse-di-progettazione-e-sviluppo-1920x923.png
Labels: content

#1020 content: media archive
  src/components/list-archive-media/list-archive-media.js
  src/data/content/community.yaml
  src/data/content/community/media/20210319-progettare-servizi-pubblici-digitali-piu-equi-e-sostenibili.yaml
  src/data/content/community/media/20210615-progettare-un-servizio-pubblico-digitale.yaml
  src/data/content/community/media/20210622-strumenti-e-casi-pratici-di-progettazione.yaml
  src/data/content/community/media/20210623-il-software-libero-globaleaks.yaml
  src/data/content/community/media/20210706-sviluppare-nuovi-servizi-pubblici-in-modalità-open-source.yaml
  src/data/content/community/media/20210713-dallo-sviluppo-all-erogazione-di-servizi-pubblici-digitali.yaml
  src/data/content/community/media/20210714-l-integrazione-del-spid-nei-servizi-pubblici-e-privati.yaml
  src/data/content/community/media/20210922-il-riutilizzo-dei-modelli-di-designers-italia.yaml
  src/data/content/community/media/20211027-buone-api-per-buoni-servizi.yaml
  src/data/content/community/media/20211109-progettare-il-sito-web-di-un-comune.yaml
  src/data/content/community/media/20211116-il-modello-dei-siti-web-dei-comuni-italiani-e-il-tema-dell-accessibilità-dei-servizi.yaml
  src/data/content/community/media/20211123-l-architettura-informativa-i-contenuti-e-l-interfaccia-utente-del-sito-web-di-un-comune.yaml
  src/data/content/community/media/20211124-rilascio-e-riuso-di-un-software-open-source.yaml
  src/data/content/community/media/20211130-dalla-progettazione-allo-sviluppo-del-sito-web-di-un-comune.yaml
  src/data/content/community/media/20220209-l-importanza-di-un-design-system-per-i-servizi-pubblici-digitali.yaml
  src/data/content/community/media/20220223-l-uso-di-git.yaml
  src/data/content/community/media/20220309-come-l-unione-europea-valuta-i-servizi-pubblici-digitali.yaml
  src/data/content/community/media/20220323-scopriamo-bootstrap-italia-2-0.yaml
  src/data/content/community/media/20220406-la-sinergia-possibile-tra-universita-e-pubbliche-amministrazioni.yaml
  src/data/content/community/media/20220420-a-che-punto-siamo-con-ui-kit-e-design-token.yaml
  src/data/content/community/media/20220518-come-designer-sviluppatori-e-cittadini-possono-contribuire-a-migliorare-i-servizi-pubblici.yaml
  src/data/content/community/media/20220521-design-system-del-paese-gli-strumenti-le-risorse-e-come-utilizzarli.yaml
  src/data/content/community/media/20220521-l-attenzione-all-accessibilita-nel-design-system-del-paese.yaml
  src/data/content/community/media/20220525-la-progettazione-di-api-rest-per-la-pa.yaml
  src/data/content/community/media/20230518-il-design-system-del-paese-e-la-responsabilita-di-progettare-interfacce-pubbliche.yaml
  src/data/content/community/media/20230621-niente-su-di-noi-senza-di-noi-la-sfida-accolta-da-designers-italia-agid-e-accessibility-days.yaml
  src/data/header.yaml
  src/pages/{content.relativePath}.js
  src/scss/vars.scss
  static/images/community/media-thumbnails/20210319-progettare-servizi-pubblici-digitali-piu-equi-e-sostenibili.jpg
  static/images/community/media-thumbnails/20210615-progettare-un-servizio-pubblico-digitale.jpg
  static/images/community/media-thumbnails/20210622-strumenti-e-casi-pratici-di-progettazione.jpg
  static/images/community/media-thumbnails/20210623-il-software-libero-globaleaks.jpg
  static/images/community/media-thumbnails/20210706-sviluppare-nuovi-servizi-pubblici-in-modalita-open-source.jpg
  static/images/community/media-thumbnails/20210713-dallo-sviluppo-all-erogazione-di-servizi-pubblici-digitali.jpg
  static/images/community/media-thumbnails/20210714-l-integrazione-del-spid-nei-servizi-pubblici-e-privati.jpg
  static/images/community/media-thumbnails/20210922-il-riutilizzo-dei-modelli-di-designers-italia.jpg
  static/images/community/media-thumbnails/20211027-buone-api-per-buoni-servizi.jpg
  static/images/community/media-thumbnails/20211109-progettare-il-sito-web-di-un-comune.jpg
  static/images/community/media-thumbnails/20211116-il-modello-dei-siti-web-dei-comuni-italiani-e-il-tema-dell-accessibilita-dei-servizi.jpg
  static/images/community/media-thumbnails/20211123-l-architettura-informativa-i-contenuti-e-l-interfaccia-utente-del-sito-web-di-un-comune.jpg
  static/images/community/media-thumbnails/20211124-rilascio-e-riuso-di-un-software-open-source.jpg
  static/images/community/media-thumbnails/20211130-dalla-progettazione-allo-sviluppo-del-sito-web-di-un-comune.jpg
  static/images/community/media-thumbnails/20220209-l-importanza-di-un-design-system-per-i-servizi-pubblici-digitali.jpg
  static/images/community/media-thumbnails/20220223-l-uso-di-git.jpg
  static/images/community/media-thumbnails/20220309-come-l-unione-europea-valuta-i-servizi-pubblici-digitali.jpg
  static/images/community/media-thumbnails/20220323-scopriamo-bootstrap-italia-2-0.jpg
  static/images/community/media-thumbnails/20220406-la-sinergia-possibile-tra-universita-e-pubbliche-amministrazioni.jpg
  static/images/community/media-thumbnails/20220420-a-che-punto-siamo-con-ui-kit-e-design-token.jpg
  static/images/community/media-thumbnails/20220518-come-designer-sviluppatori-e-cittadini-possono-contribuire-a-migliorare-i-servizi-pubblici.jpg
  static/images/community/media-thumbnails/20220521-design-system-del-paese-gli-strumenti-le-risorse-e-come-utilizzarli.jpg
  static/images/community/media-thumbnails/20220521-l-attenzione-all-accessibilita-nel-design-system-del-paese.jpg
  static/images/community/media-thumbnails/20220525-la-progettazione-di-api-rest-per-la-pa.jpg
  static/images/community/media-thumbnails/20230518-il-design-system-del-paese-e-la-responsabilita-di-progettare-interfacce-pubbliche.jpg
  static/images/community/media-thumbnails/20230621-niente-su-di-noi-senza-di-noi-la-sfida-accolta-da-designers-italia-agid-e-accessibility-days.jpg
Labels: content, media

#1036 content: update file kit privacy
  static/files/resources/risorse-per-progettare/organizzare/privacy/rispetta-la-privacy-per-il-go-live-di-un-sito/DI-Uso-dei-contenuti-multimediali-in-embed-shortcode-privacy.odt
Labels: enhancement, content, design system

#1037 content: Update comprendere.yaml
  src/data/content/risorse-per-progettare/comprendere.yaml
Labels: content

#1033 feat: news on design system cover
  src/data/content/community.yaml
  src/data/content/design-system.yaml
  src/data/content/index.yaml
  src/data/content/modelli.yaml
  src/data/content/norme-e-riferimenti.yaml
  src/data/content/progetto.yaml
  src/data/content/risorse-per-progettare.yaml
  src/pages/{content.relativePath}.js
Labels: enhancement, content, design system

#1043 Content: video player news
  src/data/content/community.yaml
  src/data/content/community/notizie/20231031-disponibile-il-player-video-della-pubblica-amministrazione-attento-a-privacy-e-accessibilita.yaml
  src/data/content/index.yaml
  static/images/community/20231031-disponibile-il-player-video-della-pubblica-amministrazione-attento-a-privacy-e-accessibilita-1400x723.png
  static/images/community/20231031-disponibile-il-player-video-della-pubblica-amministrazione-attento-a-privacy-e-accessibilita-1920x1280.png
  static/images/community/20231031-disponibile-il-player-video-della-pubblica-amministrazione-attento-a-privacy-e-accessibilita-1920x923.png
Labels: content

#1044 fix: link added to DS news
  src/data/content/community/notizie/20231024-nuovi-rilasci-del-design-system-del-paese-e-delle-risorse-di-progettazione-e-sviluppo.yaml
Labels: content
