Repository italia/designers.italia.it, pull requests merged in 2024-03, with the labels that each got.

#1245 content: update `divulgazione e disseminazione`
  src/data/content/progetto.yaml
  src/data/content/progetto/divulgazione-e-disseminazione.yaml
  src/data/header.yaml
Labels: enhancement, content

#1238 docs: `Toggle` component
  src/data/content/design-system/componenti/toggles.yaml
  static/images/design-system/componenti/toggle-anatomy.png
  static/images/design-system/componenti/toggle-specs.png
Labels: content, design system

#1246 docs: `Tooltip` component
  src/data/content/design-system/componenti/tooltip.yaml
  static/images/design-system/componenti/tooltip-anatomy.png
  static/images/design-system/componenti/tooltip-specs.png
Labels: content, design system

#1248 chore(release): preparing DS release v1-alpha.19 🚀
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: content, design system

#1259 content(ds): review `Back to top` component
  src/data/content/design-system/componenti/back-to-top.yaml
  static/images/design-system/componenti/back-to-top-anatomy.png
  static/images/design-system/componenti/back-to-top-specs.png
Labels: content, design system

#1265 content(ds): review `back` component
  src/data/content/design-system/componenti/back.yaml
  static/images/design-system/componenti/back-anatomy.png
Labels: content, design system

#1263 docs: `Navscroll` component
  src/data/content/design-system/componenti/navscroll.yaml
  static/images/design-system/componenti/navscroll-anatomy.png
  static/images/design-system/componenti/navscroll-specs.png
Labels: content, design system

#1266 docs: `Number input` component
  src/data/content/design-system/componenti/number-input.yaml
  static/images/design-system/componenti/number-input-anatomy.png
Labels: content, design system

#1269 content(ds): review `Forward` component
  src/data/content/design-system/componenti/forward.yaml
  static/images/design-system/componenti/forward-anatomy.png
  static/images/design-system/componenti/forward-specs.png
Labels: content, design system

#1268 docs: `Overlay` component
  src/data/content/design-system/componenti/overlay.yaml
  static/images/design-system/componenti/overlay-anatomy.png
  static/images/design-system/componenti/overlay-specs.png
Labels: content, design system

#1262 chore(release): design system .italia 🇮🇹 `v1-beta.1`
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: content, design system

#1255 content: add media Webinar ASL
  src/data/content/community.yaml
  src/data/content/community/media/20240215-il-modello-di-sito-per-le-aziende-sanitarie-locali-asl.yaml
  static/files/community/subtitles/20240215-il-modello-di-sito-per-le-aziende-sanitarie-locali-asl.odt
  static/files/community/subtitles/20240215-il-modello-di-sito-per-le-aziende-sanitarie-locali-asl.vtt
  static/images/community/media-thumbnails/20240215-il-modello-di-sito-per-le-aziende-sanitarie-locali-asl.png
Labels: content, media

#1279 content(fix): modello-musei-resources
  static/files/resources/modelli/musei-civici/Alberatura-ModelloASL-DesignersItalia.pdf
  static/files/resources/modelli/musei-civici/Alberatura-ModelloMusei-DesignersItalia.pdf
Labels: bug, content

#1280 fix: video url
  src/data/content/community/media/20240215-il-modello-di-sito-per-le-aziende-sanitarie-locali-asl.yaml
Labels: bug, content

#1281 fix: video url
  src/data/content/community/media/20240215-il-modello-di-sito-per-le-aziende-sanitarie-locali-asl.yaml
Labels: bug, content

#1249 content(feat): nuova sezione `materiali di disseminazione`
  src/data/content/community.yaml
  src/data/content/community/materiali-di-disseminazione.yaml
  src/data/content/community/materiali-di-disseminazione/insegnare-design-per-la-pa.yaml
  src/data/content/community/materiali-di-disseminazione/insegnare-design-per-la-pa/il-ruolo-del-design-nella-trasformazione-digitale-della-pa.yaml
  src/data/content/community/notizie/20240308-ciao-italia-la-terza-generazione-del-design-system-ha-un-nome-ed-entra-in-fase-beta.yaml
  src/data/content/community/notizie/20240318-ciao-italia-la-terza-generazione-del-design-system-ha-un-nome-ed-entra-in-fase-beta.yaml
  src/data/content/community/notizie/20240318-il-nuovo-kit-di-designers-italia-per-insegnare-a-progettare-per-il-settore-pubblico.yaml
  src/data/content/index.yaml
  src/data/header.yaml
  static/files/resources/community/materiali-di-disseminazione/insegnare-design-per-la-pa/DI-Trasformazione-digitale-della-PA---Note-per-il-presentatore.odt
  static/images/community/20240318-il-nuovo-kit-di-designers-italia-per-insegnare-a-progettare-per-il-settore-pubblico-1400x723.png
  static/images/community/20240318-il-nuovo-kit-di-designers-italia-per-insegnare-a-progettare-per-il-settore-pubblico-1920x1280.png
  static/images/community/20240318-il-nuovo-kit-di-designers-italia-per-insegnare-a-progettare-per-il-settore-pubblico-1920x923.png
  static/images/risorse-per-progettare/icons/kit_insegnamento.svg
  static/images/risorse-per-progettare/icons/kit_insegnamento_trasformazioneDigitale.svg
  static/images/risorse-per-progettare/social/kit_insegnamento.png
Labels: feature, content

#1296 content: add "Modelli musei" Medium article
  src/data/content/community.yaml
  src/data/content/index.yaml
  static/images/community/articoli-di-approfondimento/20240327-favorire-il-cambiamento-in-ecosistemi-di-servizio-complessi-il-modello-per-i-musei-civici-1198x673.png
Labels: content

#1290 content(ds): feat new Fondamento `Identità`
  src/data/content/design-system/come-iniziare/per-designer.yaml
  src/data/content/design-system/componenti/footer.yaml
  src/data/content/design-system/componenti/header.yaml
  src/data/content/design-system/fondamenti.yaml
  src/data/content/design-system/fondamenti/accessibilita.yaml
  src/data/content/design-system/fondamenti/colori.yaml
  src/data/content/design-system/fondamenti/identita.yaml
  src/data/content/design-system/fondamenti/principi-e-intenzioni.yaml
  src/data/content/design-system/fondamenti/tipografia.yaml
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
  static/images/design-system/fondamenti/identita-scala-nazionale.png
  static/images/design-system/fondamenti/identita-scala-territoriale-e-o-locale.png
Labels: feature, content, design system

#1300 content: update seo img
  src/data/content/design-system/fondamenti/identita.yaml
Labels: content, design system
