Repository italia/designers.italia.it, pull requests merged in 2024-10, with the labels that each got.

#1422 content: add event Milano Digital Week
  src/data/content/community.yaml
  src/data/content/community/eventi/20241013-milano-digital-week-interfacce-conversazionali-e-citizen-experience.yaml
  static/images/community/eventi/2024/20241013-milano-digital-week-interfacce-conversazionali-e-citizen-experience-1200x627.png
Labels: content

#1432 fix: input search
  src/components/search-main/search-main.js
Labels: bug

#1437 content: design system .italia - docs release v1.1.0 🚀 🇮🇹
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: design system

#1438 fix(a11y): section labelledby (update markup to BSI 2.10.0)
  src/components/section-editorial/section-editorial.js
Labels: bug, a11y

#1439 content: fix "Linguaggio"
  src/data/content/design-system/fondamenti/linguaggio.yaml
Labels: content

#1419 fix: update avatar images
  static/images/design-system/componenti/avatar-lists-anatomy.png
  static/images/design-system/componenti/avatar-lists-specs.png
Labels: design system

#1429 content(feat): launch design system .italia v1 news and media
  src/components/highlight/highlight.js
  src/components/highlight/highlight.scss
  src/components/media-player/media-player.js
  src/components/section-media/section-media.js
  src/components/section-media/section-media.scss
  src/data/content/community.yaml
  src/data/content/community/eventi/20241111-community-lab-design-system.yaml
  src/data/content/community/media/20241021-design-system-italia.yaml
  src/data/content/community/notizie/20241021-italia-versione-1.yaml
  src/data/content/design-system.yaml
  src/data/content/index.yaml
  src/data/header.yaml
  src/pages/{content.relativePath}.js
  src/templates/level-1.js
  static/files/community/subtitles/20241021-design-system-italia.odt
  static/files/community/subtitles/20241021-design-system-italia.vtt
  static/images/community/20241021-design-system-italia.jpg
  static/images/community/media-thumbnails/20241021-design-system-italia.jpg
Labels: feature, content, design system

#1444 content(fix): remove event placeholder
  src/data/content/community/eventi/20241111-community-lab-design-system.yaml
Labels: bug, content

#1425 fix: badge colors for DO and DONTS
  src/data/content/design-system/fondamenti/tono-di-voce.yaml
Labels: bug

#1440 feat: new skiplinks approach
  src/components/skiplinks/skiplinks.js
  src/components/skiplinks/skiplinks.scss
  src/data/skiplinks.yaml
  src/templates/archive-all-tags.js
  src/templates/archive-ds-tags.js
  src/templates/archive-events.js
  src/templates/archive-media.js
  src/templates/archive-news.js
  src/templates/base.js
  src/templates/design-system-component.js
  src/templates/design-system-index-components-tags.js
  src/templates/design-system-index.js
  src/templates/home.js
  src/templates/level-1-community.js
  src/templates/level-1.js
  src/templates/level-2.js
  src/templates/level-3.js
  src/templates/level-4.js
  src/templates/search-results.js
  src/templates/tag.js
Labels: enhancement, feature, a11y

#1420 chore(ci): Lighthouse warning when score decreases
  .github/workflows/lighthouse-pr-comment.yml
  .github/workflows/lighthouse.yml
Labels: enhancement

#1451 fix: do and donts
  src/data/content/design-system/fondamenti/microtesti.yaml
Labels: enhancement

#1452 content: design tokens images
  src/data/content/design-system/fondamenti/design-tokens.yaml
  static/images/design-system/fondamenti/global-token.png
  static/images/design-system/fondamenti/semantic-token.png
  static/images/design-system/fondamenti/specific-token-reference.png
  static/images/design-system/fondamenti/specific-token.png
  static/images/design-system/fondamenti/token-livelli.png
  static/images/design-system/global-token.png
  static/images/design-system/semantic-token.png
  static/images/design-system/specific-token-reference.png
  static/images/design-system/specific-token.png
  static/images/design-system/token-livelli.png
Labels: content, design system
