Repository italia/designers.italia.it, pull requests merged in 2024-11, with the labels that each got.

#1446 feat(content):event-community-lab-ds
  src/data/content/community.yaml
  src/data/content/community/eventi/20241119-community-lab-design-system-italia.yaml
  static/images/community/eventi/2024/20241119-community-lab-design-system-italia-1200x627.png
Labels: content

#1450 content: update fondamento accessibilita
  src/data/content/design-system/fondamenti/accessibilita.yaml
Labels: enhancement, a11y, design system

#1463 feat: new download resources list for BSI 2.11.0
  src/components/list-item/list-item.js
  src/components/list-item/list-item.scss
Labels: feature, a11y

#1466 chore(release): design system .italia v1.2.0 🚀 🇮🇹
  src/data/content/design-system/fondamenti/linguaggio.yaml
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: design system

#1467 content: update kit resources
  src/data/content/risorse-per-progettare/validare/web-analytics/monitora-la-tua-soluzione-digitale.yaml
Labels: content

#1471 content: footer anatomy and specs update
  src/data/content/design-system/componenti/footer.yaml
  static/images/design-system/componenti/footer-specs-1.png
  static/images/design-system/componenti/footer-specs-2.png
Labels: content, design system
