Repository italia/designers.italia.it, pull requests merged in 2024-04, with the labels that each got.

#1301 content: React and Angular kit news
  src/data/content/community.yaml
  src/data/content/community/notizie/20240404-design-system-italia-disponibili-le-nuove-versioni-dei-kit-react-ed-angular.yaml
  src/data/content/design-system.yaml
  src/data/content/index.yaml
  static/images/community/20240404-design-system-italia-si-aggiorna-con-le-nuove-versioni-dei-kit-react-ed-angular-1400x723.png
  static/images/community/20240404-design-system-italia-si-aggiorna-con-le-nuove-versioni-dei-kit-react-ed-angular-1900x723.png
  static/images/community/20240404-design-system-italia-si-aggiorna-con-le-nuove-versioni-dei-kit-react-ed-angular-clean-1400x723.png
Labels: content

#1304 fix: change icon link
  src/data/content/modelli/comuni/adotta-il-modello-di-servizi-digitali-comunali/realizza-l-interfaccia-del-servizio-digitale-comunale.yaml
  src/data/content/modelli/comuni/adotta-il-modello-di-sito-comunale/realizza-l-interfaccia-del-sito-comunale.yaml
Labels: bug

#1307 content: add medium article + various editorial fixes
  src/data/content/community.yaml
  src/data/content/design-system.yaml
  src/data/content/index.yaml
  static/images/community/articoli-di-approfondimento/20240411-verso-design-system--italia--come-e-nato-il-nome-del-design-syssten-del-paese.png
Labels: content

#1291 content(feat):modello-musei
  src/data/content/modelli.yaml
  src/data/content/modelli/musei-civici.yaml
  src/data/content/modelli/musei-civici/adotta-il-modello-di-sito-per-i-musei-civici.yaml
  src/data/content/modelli/musei-civici/adotta-il-modello-di-sito-per-i-musei-civici/comprendi-lo-stato-dell-arte-del-sito-del-museo-civico.yaml
  src/data/content/modelli/musei-civici/adotta-il-modello-di-sito-per-i-musei-civici/definisci-architettura-e-contenuti-per-il-sito-del-museo-civico.yaml
  src/data/content/modelli/musei-civici/adotta-il-modello-di-sito-per-i-musei-civici/realizza-l-interfaccia-del-sito-del-museo-civico.yaml
  static/files/resources/modelli/musei-civici/Architettura-ModelloMusei-DesignersItalia.ods
  static/files/resources/modelli/musei-civici/Architettura-ModelloMusei-DesignersItalia.xlsx
  static/images/modelli/musei-cover-hero.png
  static/images/modelli/musei-cover-square.png
  static/images/modelli/musei-cover.png
  static/images/modelli/musei-icon.svg
  static/images/modelli/musei-sito.png
Labels: feature, content

#1310 content: UI resource links
  src/data/content/modelli.yaml
  src/data/content/modelli/aziende-sanitarie-locali.yaml
  src/data/content/modelli/aziende-sanitarie-locali/adotta-il-modello-di-sito-asl/realizza-l-interfaccia-del-sito-asl.yaml
  src/data/content/modelli/comuni.yaml
  src/data/content/modelli/comuni/adotta-il-modello-di-servizi-digitali-comunali/realizza-l-interfaccia-del-servizio-digitale-comunale.yaml
  src/data/content/modelli/comuni/adotta-il-modello-di-sito-comunale/realizza-l-interfaccia-del-sito-comunale.yaml
  src/data/content/modelli/musei-civici.yaml
  src/data/content/modelli/musei-civici/adotta-il-modello-di-sito-per-i-musei-civici/realizza-l-interfaccia-del-sito-del-museo-civico.yaml
  src/data/content/modelli/scuole.yaml
  src/data/content/modelli/scuole/adotta-il-modello-di-sito-scolastico/realizza-l-interfaccia-del-sito-scolastico.yaml
Labels: content

#1311 fix: typo
  src/data/content/modelli/musei-civici/adotta-il-modello-di-sito-per-i-musei-civici/realizza-l-interfaccia-del-sito-del-museo-civico.yaml
Labels: content

#1312 fix: typo
  src/data/content/community/notizie/20240418-il-modello-per-i-musei-civici-online-le-risorse-per-realizzare-siti-web.yaml
Labels: enhancement, content

#1315 content: fix news modello musei
  src/data/content/community/notizie/20240418-il-modello-per-i-musei-civici-online-le-risorse-per-realizzare-siti-web.yaml
  src/data/content/index.yaml
Labels: content

#1314 fix: update musei images
  static/images/community/20240418-il-modello-per-i-musei-civici--online-le-risorse-per-realizzare-siti-web-1920x923.png
  static/images/community/20240418-il-modello-per-i-musei-civici-online-le-risorse-per-realizzare-siti-web-1400x900.png
  static/images/community/20240418-il-modello-per-i-musei-civici-online-le-risorse-per-realizzare-siti-web-1920x1080.png.png
  static/images/modelli/musei-cover-hero.png
  static/images/modelli/musei-cover.png
Labels: bug
