Repository italia/designers.italia.it, pull requests merged in 2024-09, with the labels that each got.

#1392 docs: `Table` component
  src/data/content/design-system/componenti/tables.yaml
  static/images/design-system/componenti/table-cell-anatomy.png
  static/images/design-system/componenti/table-cell-specs.png
Labels: content, design system

#1374 Nav sidebar enhancements
  src/components/nav-sidebar/nav-sidebar.js
  src/components/nav-sidebar/nav-sidebar.scss
  src/data/dsnav.yaml
Labels: enhancement

#1413 chore: update examples API
  src/data/content/design-system/componenti/list.yaml
Labels: design system

#1417 Update footer.yaml
  src/data/footer.yaml
Labels: content, a11y
