Repository italia/designers.italia.it, pull requests merged in 2024-08, with the labels that each got.

#1354 docs: `Thumbnav` component
  src/data/content/design-system/componenti/thumbnav.yaml
Labels: content, design system

#1363 docs: `Sections` component
  src/data/content/design-system/componenti/sections.yaml
Labels: content, design system

#1364 docs: `Sticky` component
  src/data/content/design-system/componenti/sticky.yaml
Labels: content, design system

#1368 docs: `Toolbar` component
  src/data/content/design-system/componenti/toolbar.yaml
Labels: content, design system

#1370 docs: `Checkbox` component
  src/data/content/design-system/componenti/checkbox.yaml
  static/images/design-system/componenti/checkbox-anatomy.png
  static/images/design-system/componenti/checkbox-specs.png
Labels: content, design system

#1375 docs: `Upload` component
  src/data/components_json/bsi/form/upload.json
  src/data/content/design-system/componenti/upload.yaml
  static/images/design-system/componenti/upload-avatar-anatomy.png
  static/images/design-system/componenti/upload-drag-drop-icon.svg
  static/images/design-system/componenti/upload-dragdrop-anatomy.png
  static/images/design-system/componenti/upload-dragdrop-specs.png
  static/images/design-system/componenti/upload-gallery-anatomy.png
  static/images/design-system/componenti/upload-gallery-specs.png
  static/images/design-system/componenti/upload-list-anatomy.png
  static/images/design-system/componenti/upload-list-specs.png
Labels: content, design system

#1373 docs: `Autocomplete` component
  src/data/content/design-system/componenti/autocomplete.yaml
Labels: content, design system

#1381 content: Pagina 240806-Un-estate-con-Designers-Italia
  src/data/content/community.yaml
  src/data/content/community/notizie/20240807-un-estate-con-designers-italia.yaml
  src/data/content/index.yaml
  static/images/community/20240807-un-estate-con-designers-italia-1400x723.jpg
  static/images/community/20240807-un-estate-con-designers-italia-1920x923.jpg
Labels: content

#1383 fix: feedback radio fieldset inline spacing
  src/components/feedback/feedback.js
Labels: bug

#1386 Component `Tables`: add page and preview variants
  src/data/content/design-system/componenti.yaml
  src/data/content/design-system/componenti/tables.yaml
  src/data/dsnav.yaml
Labels: feature, content, design system

#1389 fix: checkbox bsi url
  src/data/content/design-system/componenti/checkbox.yaml
Labels: bug, content
