Repository italia/designers.italia.it, pull requests merged in 2024-05, with the labels that each got.

#1317 content: Accessibility days 2024 events
  src/data/content/community.yaml
  src/data/content/community/eventi/20240516-accessibility-days-2024-le-iniziative-nazionali-per-l-accessibilita.yaml
  src/data/content/community/eventi/20240516-accessibility-days-2024-strumenti-nazionali-per-migliorare-l-esperienza-di-siti-web-e-servizi-digitali.yaml
  static/images/community/eventi/2024/20240516-accessibility-days-2024-le-iniziative-nazionali-per-l-accessibilita-1200x627.png
  static/images/community/eventi/2024/20240516-accessibility-days-2024-strumenti-nazionali-per-migliorare-l-esperienza-di-siti-web-e-servizi-digitali-1200x627.png
Labels: content

#1319 content(fix)-modello-musei-files
  static/files/resources/modelli/aziende-sanitarie-locali/Alberatura-ModelloASL-DesignersItalia.pdf
  static/files/resources/modelli/musei-civici/Alberatura-ModelloMusei-DesignersItalia.pdf
  static/files/resources/modelli/musei-civici/Architettura-ModelloMusei-DesignersItalia.ods
  static/files/resources/modelli/musei-civici/Architettura-ModelloMusei-DesignersItalia.xlsx
Labels: enhancement, content

#1316 Fixed Guida alla migrazione dei contenuti link
  src/data/content/modelli/scuole/adotta-il-modello-di-sito-scolastico/definisci-architettura-e-contenuti.yaml
Labels: bug, content

#1321 content: Forum PA event
  src/data/content/community.yaml
  src/data/content/community/eventi/20240523-forum-pa-2024-servizi-digitali-e-piattaforme-per-la-cittadinanza.yaml
  static/images/community/eventi/2024/20240523-forum-pa-2024-piattaforme-digitali-e-servizi-al-cittadino-1200x627.png
Labels: content

#1326 content: May events news
  src/data/content/community.yaml
  src/data/content/community/notizie/20240514-tutti-gli-eventi-di-designers-italia-a-maggio.yaml
  src/data/content/index.yaml
  static/images/community/20240514-tutti-gli-eventi-di-designers-italia-a-maggio-1400x900.png
  static/images/community/20240514-tutti-gli-eventi-di-designers-italia-a-maggio-1920x1080.png
  static/images/community/20240514-tutti-gli-eventi-di-designers-italia-a-maggio-1920x923.png
Labels: content

#1332 content(feat): new article history of .italia
  src/data/content/community.yaml
  src/data/content/design-system.yaml
  src/data/content/index.yaml
  static/images/community/articoli-di-approfondimento/20240522-verso-design-system--italia--dalle-origini-al-design-system-aperto-della-pa.png
Labels: content

#1288 docs: `Pagination` component
  src/data/content/design-system/componenti/pagination.yaml
  static/images/design-system/componenti/pagination-anatomy.png
  static/images/design-system/componenti/pagination-specs.png
Labels: content, design system

#1294 docs: `Progress Indicator` component
  src/data/content/design-system/componenti/progress-indicators.yaml
  static/images/design-system/componenti/progress-anatomy.png
Labels: content, design system

#1306 content: new contribution model
  src/data/content/modelli/aziende-sanitarie-locali.yaml
  src/data/content/modelli/aziende-sanitarie-locali/adotta-il-modello-di-sito-asl.yaml
  src/data/content/modelli/comuni.yaml
  src/data/content/modelli/comuni/adotta-il-modello-di-servizi-digitali-comunali.yaml
  src/data/content/modelli/comuni/adotta-il-modello-di-sito-comunale.yaml
  src/data/content/modelli/contribuisci-ai-modelli.yaml
  src/data/content/modelli/contribuisci-ai-modelli/come-contribuire-ai-modelli.yaml
  src/data/content/modelli/musei-civici.yaml
  src/data/content/modelli/musei-civici/adotta-il-modello-di-sito-per-i-musei-civici.yaml
  src/data/content/modelli/scuole.yaml
  src/data/content/modelli/scuole/adotta-il-modello-di-sito-scolastico.yaml
  src/data/header.yaml
Labels: content

#1313 docs: `Dimmer` component
  src/data/content/design-system/componenti/dimmer.yaml
  static/images/design-system/componenti/dimmer-anatomy.png
  static/images/design-system/componenti/dimmer-specs.png
Labels: content, design system

#1320 docs: `Rating` component
  src/data/content/design-system/componenti/rating.yaml
  static/images/design-system/componenti/rating-anatomy.png
  static/images/design-system/componenti/rating-specs.png
Labels: content, design system

#1329 fix: Button storybook url
  src/data/content/design-system/componenti/buttons.yaml
Labels: content, design system

#1327 content: how to contribute to UI in Figma
  src/data/content/design-system/come-contribuire/per-il-design.yaml
Labels: content, design system

#1334 feat(content):news-modello-contribuzione-modelli
  src/data/content/community.yaml
  src/data/content/community/notizie/20240527-contribuisci-ai-modelli-di-designers-italia.yaml
  static/images/community/20240528-come-contribuire-ai-modelli-1400x900.png
  static/images/community/20240528-come-contribuire-ai-modelli-1920x1080.png
  static/images/community/20240528-come-contribuire-ai-modelli-1920x923.png
Labels: content

#1335 content: Evento lancio modello musei civici
  src/data/content/community.yaml
  src/data/content/community/eventi/20240604-lancio-nuovo-modello-musei-civici.yaml
  static/images/community/eventi/2024/20240604-lancio-nuovo-modello-musei-civici-1200x627.png
Labels: content
