Repository italia/designers.italia.it, pull requests merged in 2024-01, with the labels that each got.

#1161 Add files via upload
  static/files/resources/modelli/comuni/adotta-il-modello-di-servizi-digitali-comunali/comprendi-lo-stato-dell-arte/Tipologie-flussi-servizio-Comuni.ods
Labels: enhancement

#1168 Fix: webinar date
  src/data/content/community.yaml
Labels: content

#1167 fix: tabs status table
  src/data/content/design-system/componenti/tabs.yaml
Labels: content, design system

#1173 Content: add Medium article
  src/data/content/community.yaml
  src/data/content/index.yaml
  static/images/community/articoli-di-approfondimento/20240119-accessibilita-il-bello-del-design-inclusivo-1198x673.png
Labels: content

#1174 content: add Medium article about Tangible article
  src/data/content/community.yaml
  src/data/content/index.yaml
  static/images/community/articoli-di-approfondimento/20240125-l-importanza-dell-usabilita-un-esempio-virtuoso-in-ambito-sanitario-1198x673.png
Labels: content

#1172 fix: archive tags alignment
  src/components/list-archive-ds-tags/list-archive-ds-tags.js
Labels: enhancement, design system

#1176 fix: youtube url media post 20210319
  src/data/content/community/media/20210319-progettare-servizi-pubblici-digitali-piu-equi-e-sostenibili.yaml
Labels: bug

#1171 chore(release): preparing DS release v1-alpha.16
  src/data/content/design-system/fondamenti.yaml
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: design system
