Repository italia/designers.italia.it, pull requests merged in 2024-02, with the labels that each got.

#1182 content: modello asl news cleaned
  src/data/content/community.yaml
  src/data/content/community/notizie/20231219-il-2023-di-designers-italia.yaml
  src/data/content/community/notizie/20240201-disponibile-il-modello-di-sito-informativo-per-le-aziende-sanitarie-locali.yaml
  src/data/content/index.yaml
  src/data/header.yaml
  static/images/community/20240201-disponibile-il-modello-di-sito-informativo-per-le-aziende-sanitarie-locali-1400x900.png
  static/images/community/20240201-disponibile-il-modello-di-sito-informativo-per-le-aziende-sanitarie-locali-1920x1080.png
  static/images/community/20240201-disponibile-il-modello-di-sito-informativo-per-le-aziende-sanitarie-locali-1920x923.png
Labels: content

#1179 docs: `Alert` component
  src/data/content/design-system/componenti/alert.yaml
  static/images/design-system/componenti/alert-anatomy.png
  static/images/design-system/componenti/alert-specs-1.png
  static/images/design-system/componenti/alert-specs-2.png
  static/images/design-system/componenti/alert-specs-3.png
Labels: content, design system

#1175 docs: `Callout` component
  src/data/content/design-system/componenti/callout.yaml
  static/images/design-system/componenti/callout-anatomy.png
  static/images/design-system/componenti/callout-approfondimento-anatomy.png
  static/images/design-system/componenti/callout-approfondimento-specs.png
  static/images/design-system/componenti/callout-highlight-anatomy.png
  static/images/design-system/componenti/callout-highlight-specs.png
  static/images/design-system/componenti/callout-specs.png
  static/images/design-system/componenti/callout-title-specs.png
Labels: content, design system

#1186 content(ds): revisione componente `accordion`
  src/data/content/design-system/componenti/accordion.yaml
  static/images/design-system/componenti/accordion-content-specs.png
  static/images/design-system/componenti/accordion-lefticon-anatomy.png
  static/images/design-system/componenti/accordion-righticon-anatomy.png
  static/images/design-system/componenti/accordion-title-specs.png
Labels: content, design system

#1140 content(ds): revisione componente `megamenu`
  src/data/content/design-system/componenti/megamenu.yaml
  static/images/design-system/componenti/megamenu-completo-anatomy.png
  static/images/design-system/componenti/megamenu-completo-specs.png
Labels: content, design system

#1196 content(ds): `avatar` component
  src/data/content/design-system/componenti/avatar.yaml
  static/images/design-system/componenti/avatar-anatomy.png
  static/images/design-system/componenti/avatar-lists-anatomy.png
  static/images/design-system/componenti/avatar-lists-specs.png
  static/images/design-system/componenti/avatar-sizes-specs.png
  static/images/design-system/componenti/avatar-statuses-specs.png
Labels: content, design system

#1181 docs: `Card` component
  src/data/content/design-system/componenti/card.yaml
  static/images/design-system/componenti/card-date-anatomy.png
  static/images/design-system/componenti/card-date-specs.png
  static/images/design-system/componenti/card-editorial-anatomy.png
  static/images/design-system/componenti/card-editorial-icon-anatomy.png
  static/images/design-system/componenti/card-editorial-icon-specs.png
  static/images/design-system/componenti/card-editorial-specs.png
  static/images/design-system/componenti/card-editorial-text-anatomy.png
  static/images/design-system/componenti/card-editorial-text-specs.png
  static/images/design-system/componenti/card-highlight-anatomy.png
  static/images/design-system/componenti/card-highlight-specs.png
  static/images/design-system/componenti/card-landscape-anatomy.png
  static/images/design-system/componenti/card-landscape-specs.png
  static/images/design-system/componenti/card-teaser-anatomy.png
  static/images/design-system/componenti/card-teaser-specs.png
Labels: content, design system

#1194 chore: update gatsby plugin satorare
  package-lock.json
  package.json
  src/components/social-card-image/SocialCardImage.tsx
  src/data/content/design-system.yaml
  src/data/content/design-system/come-iniziare/per-designer.yaml
  src/data/content/design-system/componenti.yaml
  src/data/content/design-system/fondamenti.yaml
  src/data/content/modelli.yaml
  src/data/content/modelli/comuni.yaml
  src/data/content/modelli/scuole.yaml
Labels: enhancement

#1199 content(ds): 2nd review avatar component
  src/data/content/design-system/componenti/avatar.yaml
Labels: content, design system

#1198 content(ds): review `list` component
  src/data/content/design-system/componenti/list.yaml
  static/images/design-system/componenti/list-anatomy.png
  static/images/design-system/componenti/list-items-anatomy.png
  static/images/design-system/componenti/list-items-specs.png
Labels: content, design system

#1191 docs: `Dropdown` component
  src/data/content/design-system/componenti/dropdown.yaml
  static/images/design-system/componenti/dropdown-anatomy.png
  static/images/design-system/componenti/dropdown-menu-anatomy.png
  static/images/design-system/componenti/dropdown-menu-specs.png
  static/images/design-system/componenti/dropdown-outline-anatomy.png
  static/images/design-system/componenti/dropdown-specs.png
Labels: content, design system

#1201 content(ds): 2nd quick review `callout`
  src/data/content/design-system/componenti/callout.yaml
Labels: content, design system

#1202 content(ds): 2nd quick review `dropdown` component
  src/data/content/design-system/componenti/dropdown.yaml
Labels: content, design system

#1183 chore(release): preparing DS release v1-alpha.17
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: content, design system

#1209 fix: cta spacing
  src/components/text-image-cta/text-image-cta.js
Labels: enhancement

#1217 fix: link path
  src/data/content/modelli/comuni/adotta-il-modello-di-sito-comunale/realizza-l-interfaccia-del-sito-comunale.yaml
Labels: bug

#1195 docs: `Modal` component
  src/data/content/design-system/componenti/modal.yaml
  static/images/design-system/componenti/modal-anatomy.png
  static/images/design-system/componenti/modal-mobile-specs.png
  static/images/design-system/componenti/modal-specs.png
Labels: content, design system

#1208 content(ds): review `Fondamenti: Accessibilità`
  src/data/content/design-system/fondamenti/accessibilita.yaml
Labels: content, design system

#1203 content(ds): review `Come iniziare: Per designer`
  src/data/content/design-system/come-iniziare/per-designer.yaml
Labels: content, design system

#1219 content(fix): 2nd review `Fondamenti: Accessibilità`
  src/data/content/design-system/fondamenti/accessibilita.yaml
Labels: bug, content

#1205 content(ds): review `Come iniziare: Per sviluppatori`
  src/data/content/design-system/come-contribuire/per-lo-sviluppo.yaml
  src/data/content/design-system/come-iniziare/per-sviluppatori.yaml
Labels: content, design system

#1210 docs: `Badge` component
  src/data/content/design-system/componenti/badge.yaml
  static/images/design-system/componenti/badge-anatomy.png
  static/images/design-system/componenti/badge-specs.png
Labels: content, design system

#1224 fix(a11y): enable graphql `ariaLabel` prop on buttons
  src/pages/{content.relativePath}.js
Labels: bug, a11y

#1213 fix: remove wrong tags
  src/data/content/design-system/fondamenti/colori.yaml
Labels: bug, content

#1212 content: kit "Processi e servizi" news
  src/data/content/community.yaml
  src/data/content/community/notizie/20240219-progettare-servizi-pubblici-di-qualita-con-il-nuovo-kit-processi-e-servizi.yaml
  src/data/content/index.yaml
  static/images/community/20240219-progettare-servizi-pubblici-di-qualita-con-il-nuovo-kit-processi-e-servizi-1400x900.png
  static/images/community/20240219-progettare-servizi-pubblici-di-qualita-con-il-nuovo-kit-processi-e-servizi-1920x1080.png
  static/images/community/20240219-progettare-servizi-pubblici-di-qualita-con-il-nuovo-kit-processi-e-servizi-1920x923.png
Labels: content

#1227 content(feat): new kits seo images
  static/images/risorse-per-progettare/social/kit_SEO.png
  static/images/risorse-per-progettare/social/kit_UI.png
  static/images/risorse-per-progettare/social/kit_analisiContesto.png
  static/images/risorse-per-progettare/social/kit_analytics.png
  static/images/risorse-per-progettare/social/kit_architettura.png
  static/images/risorse-per-progettare/social/kit_coprog.png
  static/images/risorse-per-progettare/social/kit_esperienzautente.png
  static/images/risorse-per-progettare/social/kit_interviste.png
  static/images/risorse-per-progettare/social/kit_linguaggio.png
  static/images/risorse-per-progettare/social/kit_privacy.png
  static/images/risorse-per-progettare/social/kit_prototipazione.png
  static/images/risorse-per-progettare/social/kit_questionario.png
  static/images/risorse-per-progettare/social/kit_servizio.png
  static/images/risorse-per-progettare/social/kit_testusability.png
  static/images/risorse-per-progettare/social/kit_webDevelopment.png
Labels: enhancement, content

#1228 content(feat): add seo images props (kits)
  src/data/content/risorse-per-progettare/comprendere/esperienza-utente.yaml
  src/data/content/risorse-per-progettare/comprendere/interviste-soggetti-coinvolti.yaml
  src/data/content/risorse-per-progettare/comprendere/questionario-online.yaml
  src/data/content/risorse-per-progettare/organizzare/privacy.yaml
  src/data/content/risorse-per-progettare/progettare/co-progettazione.yaml
  src/data/content/risorse-per-progettare/progettare/contenuti-e-linguaggio.yaml
  src/data/content/risorse-per-progettare/progettare/processi-e-servizi.yaml
  src/data/content/risorse-per-progettare/progettare/prototipazione.yaml
  src/data/content/risorse-per-progettare/progettare/seo.yaml
  src/data/content/risorse-per-progettare/realizzare/costruzione-interfaccia.yaml
  src/data/content/risorse-per-progettare/realizzare/sviluppo-interfaccia.yaml
  src/data/content/risorse-per-progettare/validare/test-di-usabilita.yaml
  src/data/content/risorse-per-progettare/validare/web-analytics.yaml
Labels: enhancement, content

#1233 content: update numbers
  src/data/content/index.yaml
  src/data/content/progetto.yaml
  src/data/content/progetto/formazione-e-disseminazione.yaml
Labels: content

#1214 docs: `Datepicker` component
  src/data/content/design-system/componenti/datepicker.yaml
  static/images/design-system/componenti/datepicker-anatomy.png
  static/images/design-system/componenti/datepicker-specs.png
Labels: content, design system

#1218 docs: `Timepicker` component
  src/data/content/design-system/componenti/timepicker.yaml
  static/images/design-system/componenti/timepicker-anatomy.png
  static/images/design-system/componenti/timepicker-specs.png
Labels: content, design system

#1232 content(fix): comment old link
  src/data/content/community/notizie/20210225-designers-italia-alla-scuola-nazionale-amministrazione.yaml
Labels: bug, content

#1211 chore(release): preparing DS release v1-alpha.18
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: content, design system

#1235 content: change link to Figma file
  src/data/content/modelli/comuni/adotta-il-modello-di-sito-comunale/realizza-l-interfaccia-del-sito-comunale.yaml
Labels: content

#1240 content(fix): remove outdated CTA from a news
  src/data/content/community/notizie/20230927-partono-i-lavori-per-il-modello-di-sito-web-per-i-musei-civici.yaml
Labels: enhancement, content

#1229 docs: `Notifications` page
  src/data/content/design-system/componenti/notifications.yaml
  static/images/design-system/componenti/notifications-anatomy.png
  static/images/design-system/componenti/notifications-large-specs.png
  static/images/design-system/componenti/notifications-small-specs.png
Labels: content, design system

#1234 docs: `Sidebar` component
  src/data/content/design-system/componenti/sidebar.yaml
  static/images/design-system/componenti/sidebar-anatomy.png
  static/images/design-system/componenti/sidebar-specs.png
Labels: content, design system

#1237 docs: `Steppers` component
  src/data/content/design-system/componenti/steppers.yaml
  static/images/design-system/componenti/stepper-bottom-bar-anatomy.png
  static/images/design-system/componenti/stepper-bottom-bar-specs.png
  static/images/design-system/componenti/stepper-single-step-anatomy.png
  static/images/design-system/componenti/stepper-single-step-small-anatomy.png
  static/images/design-system/componenti/stepper-single-step-specs.png
Labels: content, design system

#1250 content(ds): review `input` component
  src/data/content/design-system/componenti/input.yaml
  static/images/design-system/componenti/input-anatomy.png
  static/images/design-system/componenti/input-area-anatomy.png
  static/images/design-system/componenti/input-password-anatomy.png
  static/images/design-system/componenti/input-password-specs.png
  static/images/design-system/componenti/input-search-anatomy.png
  static/images/design-system/componenti/input-search-size-specs.png
  static/images/design-system/componenti/input-specs.png
Labels: content, design system

#1253 content: add Medium story
  src/data/content/community.yaml
  src/data/content/index.yaml
  static/images/community/20240229-a-caccia-di-buone-pratiche-esplorazione-dello-stato-dell-arte-dei-siti-web-dei-musei-1198x673.png
Labels: content
