Repository italia/designers.italia.it, pull requests merged in 2024-07, with the labels that each got.

#1345 docs: `Collapse` page
  src/data/content/design-system/componenti/collapse.yaml
Labels: content, design system

#1347 docs: `Popover` component
  src/data/content/design-system/componenti/popover.yaml
  static/images/design-system/componenti/popover-anatomy.png
  static/images/design-system/componenti/popover-specs.png
Labels: content, design system

#1366 Release DS - v1 beta 4
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: design system

#1369 Rename prepeare-deploy.yml to prepare-deploy.yml
  .github/workflows/prepare-deploy.yml
Labels: bug

#1377 fix: typos, double redirect and kit image social
  src/data/content/design-system/fondamenti/identita.yaml
  src/data/content/risorse-per-progettare/comprendere/esperienza-utente/identifica-gli-scenari-d-uso.yaml
  src/data/content/risorse-per-progettare/comprendere/stato-dell-arte.yaml
  src/data/content/risorse-per-progettare/comprendere/stato-dell-arte/effettua-la-valutazione-euristica.yaml
  src/data/content/risorse-per-progettare/comprendere/stato-dell-arte/svolgi-l-analisi-benchmark.yaml
  src/data/content/risorse-per-progettare/progettare/architettura-dell-informazione/individua-i-contenuti.yaml
  static/images/risorse-per-progettare/social/kit_stato_arte.png
Labels: bug, content
