Repository italia/designers.italia.it, pull requests merged in 2025-03, with the labels that each got.

#1542 feat(a11y): Enhances
  gatsby-node.js
  package-lock.json
  package.json
  src/components/card/card.js
  src/components/chip/chip.js
  src/components/component-view/component-view.js
  src/components/footer-main/footer-main.js
  src/components/highlight/highlight.js
  src/components/kangaroo/kangaroo.js
  src/components/kangaroo/kangaroo.scss
  src/components/list-archive-all-tags/list-archive-all-tags.js
  src/components/list-archive-ds-tags/list-archive-ds-tags.js
  src/components/media-player/loadable-media-player.js
  src/components/share-button/share-button.js
  src/data/content/community.yaml
  src/data/content/formazione.yaml
  src/data/content/index.yaml
  src/data/content/modelli.yaml
  src/data/content/progetto.yaml
  src/data/content/risorse-per-progettare.yaml
  src/pages/{content.relativePath}.js
  src/scss/custom.scss
Labels: feature, a11y

#1550 fix: card html structure
  src/components/card/card.js
Labels: bug

#1549 chore(release): design system .italia v1.5.0 🚀 🇮🇹
  src/data/content/design-system/fondamenti/versionamento.yaml
  src/data/dsnav.yaml
Labels: content, design system

#1556 Created new event page 20250410-user-needs-first.yaml
  src/data/content/community.yaml
  src/data/content/community/eventi/20250410-user-needs-first.yaml
  static/images/community/eventi/2025/202504-user-needs-first.png
Labels: content
