Repository italia/designers.italia.it, pull requests merged in 2025-02, with the labels that each got.

#1525 Update piano-attivita.yaml
  src/data/content/progetto/piano-attivita.yaml
Labels: content

#1526 content: add old webinar media from 20231128
  src/data/content/community/media/20231128-realizzare-interfacce-pubbliche-di-qualita-e-piu-accessibili-grazie-al-design-system-del-paese.yaml
  static/files/community/subtitles/20231128-realizzare-interfacce-pubbliche-di-qualita-e-piu-accessibili-grazie-al-design-system-del-paese.odt
  static/files/community/subtitles/20231128-realizzare-interfacce-pubbliche-di-qualita-e-piu-accessibili-grazie-al-design-system-del-paese.vtt
  static/images/community/media-thumbnails/20231128-realizzare-interfacce-pubbliche-di-qualita-e-piu-accessibili-grazie-al-design-system-del-paese.jpg
Labels: content, media

#1538 fix(a11y): various
  src/components/feedback/components/form-no/FormNo.js
  src/components/feedback/feedback.js
  src/components/label-textarea/label-text-area.js
  src/data/content/ricerca.yaml
Labels: a11y
